@use "sass:map";

$sizes: (
	"medium": 800px,
	"large": 1000px
);

@mixin breakpoint-up($size) {
	@media only screen and (min-width: map.get($sizes, $size)) {
		@content;
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
