@import "../globals/utilities";
@import "../globals/variables";

.home {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	animation-name: fade-in;
	animation-duration: 500ms;
	animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	&__hero {
		// width: fit-content;
		margin-left: auto;
		margin-top: 90px;
		margin-right: 16px;
		margin-inline: auto;
		padding-left: $bg-circle-sm/2;
		@include breakpoint-up(medium) {
			padding-left: $bg-circle-md/2;
		}
		.container {
			width: clamp(200px, 80%, 700px);
			margin-inline: auto;
			h2 {
				padding-inline: 1rem;
				color: $dark-green;
				font-weight: 400;
				font-size: 6vw;
				text-align: center;
				@include breakpoint-up(medium) {
					font-size: 56px;
					&:first-child {
						text-align: right;
					}

					&:last-child {
						text-align: left;
					}
				}
			}

			img {
				margin-inline: auto;
				width: 100%;
				border-radius: 500px;
				border: 5px solid $dark-green;
				@include breakpoint-up(medium) {
					border: 10px solid $dark-green;
				}
				@include breakpoint-up(large) {
				}
			}
		}
	}

	&__cta {
		// padding-right: $bg-circle-sm/2;
		margin-block: auto;
		button {
			cursor: pointer;
			user-select: none;
			padding-inline: 24px;
			padding-block: 14px;
			font-size: 20px;
			background-color: transparent;
			border: none;
			border-left: 2px solid $dark-green;
			border-bottom: 2px solid $dark-green;
			position: relative;
			$bg-size: 20px;
			border-top-right-radius: 1rem;

			&::before,
			&::after {
				content: "";
				transition: all 350ms ease-in;
				position: absolute;
				height: $bg-size;
				width: $bg-size;
				background-color: $dark-green;
				bottom: calc(0% - $bg-size/2);
				left: calc(0% - $bg-size/2);
				border-radius: 50%;
			}

			&:hover {
				&::before {
					bottom: calc(100% - $bg-size/2);
				}

				&::after {
					left: calc(100% - $bg-size/2);
				}
			}

			&:active {
				background-color: $dark-green;
				color: $white;
			}
		}

		width: fit-content;
		margin-inline: auto;
		@include breakpoint-up(medium) {
		}
	}
}
