@import "../globals/variables";
@import "../globals/utilities";

.layout {
	background-color: $white;
	$nav-item-width: 60px;
	$nav-bg-size: 80px;
	$nav-item-gap: $nav-bg-size/2;
	$nav-font-size: 16px;

	$nav-font-size-desktop: 20px;
	$nav-bg-size-desktop: 100px;
	$nav-item-width-desktop: 80px;
	$nav-item-gap-desktop: $nav-bg-size-desktop/2;

	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	position: relative;
	isolation: isolate;

	&[data-current-page="home"] {
		overflow: hidden;
		height: 100vh;
		.bg_circle {
			$size: $bg-circle-sm;
			$size-desktop: $bg-circle-lg;
			&[data-index="0"] {
				top: 100px;
				// left: -140px;
				left: -$size/2;

				@include breakpoint-up(medium) {
					left: -$size-desktop/2;
					top: calc(50vh - $size-desktop/2);
				}
			}

			&[data-index="1"] {
				top: calc(100% - $size/2);
				right: -$size/2;

				@include breakpoint-up(medium) {
					top: calc(100vh - $size-desktop/2);
					right: -$size-desktop/2;
				}
			}
		}

		[data-home] {
			opacity: 1;
			animation-name: fade-in;
			animation-duration: $transition-dur;
			animation-timing-function: ease-in;
		}
	}

	&[data-current-page="projects"] {
		.bg_circle {
			$size: $bg-circle-sm;
			$size-desktop: $bg-circle-lg;
			&[data-index="0"] {
				left: -$size * 0.95;

				@include breakpoint-up(medium) {
					left: -$size-desktop * 0.95;
				}
			}
		}
		[data-projects] {
			opacity: 1;
			animation-name: fade-in;
			animation-duration: $transition-dur;
			animation-timing-function: ease-in;
		}
	}

	&[data-current-page="info"] {
		[data-info] {
			opacity: 1;
			animation-name: fade-in;
			animation-duration: $transition-dur;
			animation-timing-function: ease-in;
		}
	}

	&__header {
		z-index: 3;
		isolation: isolate;
		display: flex;
		justify-content: center;
		// margin-bottom: $nav-bg-size/3;
		@include breakpoint-up(medium) {
			// margin-bottom: $nav-bg-size-desktop/3;
		}
	}

	&__navbar {
		position: relative;
		display: flex;
		list-style: none;
		width: fit-content;
		font-size: $nav-font-size;
		gap: $nav-item-gap;
		@include breakpoint-up(medium) {
			font-size: $nav-font-size-desktop;
			gap: $nav-item-gap-desktop;
		}
		li {
			padding-block: 1rem;
			cursor: pointer;
			user-select: none;
			text-align: center;
			width: $nav-item-width;
			@include breakpoint-up(medium) {
				width: $nav-item-width-desktop;
			}
			font-weight: 500;
			transition: color 100ms ease-in;

			transition-delay: 200ms;

			&[data-is-active="true"] {
				color: $white;
			}
		}
	}

	&__content {
		overflow-x: hidden;
		flex-grow: 1;
		z-index: 1;
		display: flex;
		flex-direction: column;
	}

	.nav {
		&__bg {
			height: $nav-bg-size;
			width: $nav-bg-size;
			@include breakpoint-up(medium) {
				height: $nav-bg-size-desktop;
				width: $nav-bg-size-desktop;
			}
			border-radius: 80px;
			position: absolute;
			background-color: $dark-green;

			top: 50%;
			transform: translateY(-50%);
			// translate: 0 -50%;
			z-index: -1;
			transition: left 400ms cubic-bezier(0.86, 0, 0.07, 1);

			left: calc(
				var(--index) * ($nav-item-width + $nav-item-gap) +
					($nav-item-width/2 - $nav-bg-size/2)
			);

			@include breakpoint-up(medium) {
				left: calc(
					var(--index) * ($nav-item-width-desktop + $nav-item-gap-desktop) +
						($nav-item-width-desktop/2 - $nav-bg-size-desktop/2)
				);
			}
		}

		&__item {
			z-index: 10;
			color: $dark-green;
		}
	}

	.spinner_overlay {
		height: 100%;
		z-index: 2;
		position: absolute;
		background-color: $white;
		inset: 0;

		pointer-events: none;
		opacity: 0;
		transition: opacity 200ms ease-in;

		.spinner {
			position: absolute;
			top: 50vh;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
			// translate: -50% -50%;
			$size: 40px;
			height: $size;
			width: $size;
			border: 4px solid $dark-green;
			border-top-color: transparent;
			border-radius: 50%;
			animation: 1s linear spin infinite;
			@include breakpoint-up(medium) {
				left: 70%;
			}
		}
	}

	.bg_circle {
		$size: $bg-circle-sm;
		$size-desktop: $bg-circle-lg;

		width: $size;
		height: $size;

		@include breakpoint-up(medium) {
			width: $size-desktop;
			height: $size-desktop;
		}

		background-color: $dark-green;
		border-radius: 50%;

		position: absolute;
		z-index: 3;

		transition: all 200ms ease-in;

		&[data-index="0"] {
			top: 100px;
			// left: -140px;
			left: -$size * 0.9;

			@include breakpoint-up(medium) {
				left: -$size-desktop * 0.95;
				top: calc(50vh - $size-desktop/2);
			}
		}

		&[data-index="1"] {
			top: calc(100% - $size * 0.4);
			right: -$size * 0.9;

			@include breakpoint-up(medium) {
				top: calc(100vh - $size-desktop/2);
				right: -$size-desktop * 0.95;
			}
		}
	}
}

.circle_1 {
}

.circle_2 {
}
