@import "../globals/utilities";
@import "../globals/variables";

.projects {
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	@include breakpoint-up(large) {
		flex-direction: row;
		flex-wrap: wrap;
		padding-inline: 3rem;
		justify-content: space-evenly;
	}
	padding-block: 2rem;
}

.projectCard {
	cursor: pointer;
	padding: 1rem;
	background-color: $dark-green;
	width: 350px;
	border-radius: 600px;
	aspect-ratio: 1/1;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 0;
	transition: translate 150ms ease-in;
	margin-bottom: 1rem;

	$horizontal-offset: 5rem;

	&:hover {
		translate: 0 -10px;
	}

	&:nth-child(odd) {
		margin-left: $horizontal-offset;
	}

	&:nth-child(even) {
		margin-right: $horizontal-offset;
	}

	@include breakpoint-up(large) {
		margin-left: 0px;
		margin-right: 0px;
		&:nth-child(odd) {
			margin-left: 0px;
			margin-right: 0px;
			margin-top: 10rem;
		}

		&:nth-child(even) {
			margin-left: 0px;
			margin-right: 0px;
		}
	}

	&__img {
		border: 10px solid $dark-green;
		border-radius: 10px;
		width: 230px;
		aspect-ratio: 4/3;
		// height: 200px;
		img {
			max-width: 100%;
			// max-height: 100%;
		}
	}

	&__title {
		color: $white;
		font-size: 18px;
	}

	&__description {
		color: $white;
	}
}
