@import "../globals/utilities";
@import "../globals/variables";

.project {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: all $transition-dur ease-in;
	opacity: 1;
	animation-name: fade-in;
	animation-duration: $transition-dur;
	animation-timing-function: ease-in;
	&__header {
		display: flex;
		background-color: $dark-green;
		align-items: center;
		padding-block: 1rem;
		justify-content: space-between;
		svg > * {
			color: $white;
		}
		.nav_arrow__left,
		.nav_arrow__right {
			color: $white;
			padding-inline: 1rem;
			padding-block: 0.5rem;
			cursor: pointer;
			border-radius: 1rem;

			&[data-disabled="true"] {
				pointer-events: none;
				opacity: 0.3;
			}

			&:hover,
			&:active {
				background-color: $white;
				svg > * {
					color: $dark-green;
				}
			}
		}
	}

	&__name {
		position: relative;
		color: $white;
		font-size: 18px;
		span {
			// margin-left: 0.5rem;
			color: $white;
			font-size: 22px;
			vertical-align: middle;
			cursor: pointer;
			padding-inline: 0.5rem;
			padding-block: 0.5rem;
			margin-block: -0.5rem;
		}

		span:focus ~ .project__tooltip {
			display: block;
		}
	}

	&__tooltip {
		font-size: 80%;
		z-index: 999;
		display: none;
		position: absolute;
		top: 110%;
		width: 100%;
		background-color: $white;
		color: $dark-green;
		padding: 0.25rem;
		border: 2px solid $dark-green;
		&::before {
			$size: 10px;
			width: $size;
			height: $size;
			content: "";
			position: absolute;
			background-color: $white;
			top: 0px;
			left: 50%;
			translate: -50% -50%;
			border-radius: 50%;
		}
	}

	&__container {
		flex-grow: 1;
		position: relative;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		iframe {
			border: 5px solid $dark-green;
			flex-grow: 1;
			display: block;
			border-radius: 5px;
		}
	}

	&__overlay {
		background-color: $white;
		position: absolute;
		inset: 0;
		display: grid;
		transition: all 100ms ease-in-out;
		place-items: center;
		opacity: 0;
		pointer-events: none;
		.spinner {
			$size: 40px;
			height: $size;
			width: $size;
			border: 4px solid $dark-green;
			border-top-color: transparent;
			border-radius: 50%;
			// animation: 1s linear spin infinite;
			animation-name: spin;
			animation-iteration-count: infinite;
			animation-duration: 1s;
			animation-timing-function: linear;
		}
	}
}
