* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

html,
body,
.background,
.container {
  min-height: 100vh;
}

img {
  display: block;
}

body,
.chat-app {
  min-height: 100vh;
}

.chat-app {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat-app__header {
  border-radius: 0px 0px 5px 8px;
  padding: 20px;
  padding-top: 25px;
  padding-bottom: 10px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#8838ff), to(#e942ff));
  background: linear-gradient(to right, #8838ff, #e942ff);
}

.chat-app__header .back-btn {
  margin-right: 10px;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.chat-app__header .profile-img {
  margin-right: 7px;
  border-radius: 100%;
  overflow: hidden;
  border: 2px solid white;
}

.chat-app__header .profile-img img {
  width: 30px;
}

.chat-app__header .text {
  margin-right: auto;
}

.chat-app__header .text__name {
  margin-bottom: 5px;
  font-size: 14px;
}

.chat-app__header .text__status {
  font-size: 11px;
  color: #d89eff;
}

.chat-app__header .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-inline: 0.5rem;
}

.chat-app__header .options span {
  border-radius: 50px;
  display: block;
  background-color: white;
  height: 3px;
  width: 3px;
}

.chat-app__body {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #f5f3f7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat-app__content {
  position: relative;
  overflow: hidden;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.chat-app__content .chat-container {
  position: absolute;
  inset: 0;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 8px;
  scroll-behavior: smooth;
}

.chat-app__content .msg {
  padding: 8px;
  font-size: 12px;
  position: relative;
  max-width: 80%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0.5rem;
  opacity: 0;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}

.chat-app__content .msg.visible {
  opacity: 1;
  -webkit-transform: translateX(0%) !important;
          transform: translateX(0%) !important;
}

.chat-app__content .msg.in {
  color: #9241c8;
  background-color: #c6cacd;
  margin-right: auto;
  border-radius: 8px;
  border-bottom-left-radius: 3px;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

.chat-app__content .msg.out {
  -webkit-transform: translateX(20%);
          transform: translateX(20%);
  margin-left: auto;
  background-color: white;
  border-radius: 8px;
  border-bottom-right-radius: 3px;
}

.chat-app__content .msg.radio {
  background-color: transparent;
  border-radius: 0px;
  margin-bottom: 0px;
  padding: 0;
  width: 80%;
}

.chat-app__content .msg.radio .radio-input {
  color: white;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, right top, from(#e942ff), to(#8838ff));
  background: linear-gradient(to right, #e942ff, #8838ff);
  border-radius: 8px;
  border-bottom-left-radius: 3px;
  margin-bottom: 0.5rem;
}

.chat-app__content .msg.radio .radio-input label {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat-app__content .msg.radio .radio-input .mask {
  height: 10px;
  width: 10px;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
  margin-right: 8px;
}

.chat-app__content .msg.radio .radio-input input:checked ~ .mask {
  background-color: #f5f3f7;
}

.chat-app__content .msg.radio .radio-input input {
  opacity: 0;
  position: absolute;
}

.chat-app__content .msg.radio .radio-input__text {
  font-size: 12px;
  margin-right: auto;
}

.chat-app__content .msg.radio .radio-input__value {
  font-size: 14px;
  font-weight: 600;
}

.chat-app__content .msg.img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: transparent;
  max-width: 85%;
  gap: 0.5rem;
}

.chat-app__content .msg.img img {
  border-radius: 1rem;
  height: 50px;
  width: 50px;
}

.chat-app__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50px;
  overflow: hidden;
  margin: 10px;
  margin-bottom: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  padding: 5px;
  padding-right: 8px;
}

.chat-app__input input {
  border: none;
  padding: 9px;
  font-size: 12px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.chat-app__input input:focus {
  outline: none;
}

.chat-app__input button {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: none;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background-color: #3e2753;
  color: white;
  font-weight: 700;
  font-size: 20px;
}
/*# sourceMappingURL=chat-app.css.map */